     {% load static %}
<body bgcolor="cyan"


    <title>Home</title>



    {% block content  %}
    <h1> "Hello guys!!!"</h1>



    <form action="" method="post">
     {% csrf_token  %}
    Enter your full name : <input type="text" name='Pinformation.Name' ><br>
    Enter your Mobile No : <input type="number" name="Pinformation.MobileNumber" maxlength="10"><br>
    Enter your age : <input  type="number" name="Pinformation.Age"><br>
    Enter pincode of near location : <input type="number" name="Pinformation.Pin"><br>
        <button type="button" class="btn btn-outline-primary btn-round"><input type="submit"></button>
        <script src="{% static "js/bootstrap.min.js"%}">
    </form>











    {% endblock %}

     </body>

