
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static "covid.css" %}">
    <title>Covid-Helpline</title>
</head>
<body>
    <section class="header">
        <nav> 
            <img src="{% static "footer.jpeg" %}" id="one">
            <br>
            <div class="site-logo">
                <a href="#">COVID<br> CARE</a>
            </div>

            <div class="site-primary-navigation">
            <form action="/search" method="GET" class="HeaderSearch">
                <input type="search" name="q" placeholder="Search...">
                <div class="icon">


            </form>
            </div>

            <div class="nav-links">
                <ul>
                    <li>
                        <a href="">HOME</a>
                    </li>
                    <li>
                        <a href="">ABOUT</a>
                    </li>
                    <li>
                        <a href="">BLOG</a>
                    </li>
                    <li>
                        <a href="">CONTENT</a>
                    </li>
                </ul>
            </div>
    <div class="navbar-module__right-items__1lFyB">
        <div class="notifications-m__container__bYEPc">
            <div data-testid="notification-button" class="notifications-m__button-holder__1CU0S">
                <div class="notifications-m__count__1MoQc"><!-- 1+ --></div>
                   <div class="notifications-m__icon__2WXWQ" style="background-image:url(https://fea.assettype.com/bloombergquint/assets/notification-icon-white-66d3988f6ecce365e069.svg);"></div></div></div>
                   <div id="headerDmp">
                    <div class="member-menu-module__container__2fEtB">
                        <div class="mobile-hidden member-menu-module__desktop-flex__1hImb"><a id="subscribe" dmptrack="true" href="{% url "register"%}" class="member-menu-module__link__-4gEH">REGISTER</a><a id="login" href="{% url "login" %}" class="member-menu-module__link__-4gEH">LOGIN</a></div>
                           </div> </div>


    </div>

            
        </nav>

        <div class="alert-banner">
            <div class="content">
                <div class="text">
                    <strong>Coronavirus pandemic</strong>: daily updated research and data.
                </div>
                <a href="/coronavirus" data-track-note="covid-banner-click">Read more</a>
            </div>
        </div>    
        
    </section>
<section class="homepage-masthead">
   <div class="wrapper">
       <h1>DONT WORRY BE INFORMED AND UPDATED!!!</h1>
     <br>
       <h1>Your Health Remains Our Topmost Priority</h1>  
        <a href="#entries" class="see-all" data-smooth-scroll="true" data-track-note="homepage-scroll">Explore our website
         <span class="icon">
             <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-down" class="svg-inline--fa fa-angle-double-down fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                 <path fill="currentColor" d="M143 256.3L7 120.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0L313 86.3c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.4 9.5-24.6 9.5-34 .1zm34 192l136-136c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L160 352.1l-96.4-96.4c-9.4-9.4-24.6-9.4-33.9 0L7 278.3c-9.4 9.4-9.4 24.6 0 33.9l136 136c9.4 9.5 24.6 9.5 34 .1z">
                 </path>
            </svg>
        </span>
       </a>
      <p>All free: open access and open source</p>
</div>
</section>
<marquee><h2><b>THIS WEBSITE IS CURRENTLY UNDER CONSTRUCTION PLEASE COME BACK LATER!!!</b></h2> </marquee>


<section class="ftco-section bg-light" id="cards">
        <div class="card-styles">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon-wrap px-4 pt-4">
                            <div class="icon d-flex justify-content-center align-items-center bg-info rounded-circle">
                                <span class="ion-logo-ionic text-light"></span>
                            </div>
                        </div>
                        <div class="card-body pb-5 px-4">
                            <h5 class="card-title">Stay Positive</h5>
                            <p class="card-text">When life puts you into tough situations, do not say why me? Instead, you should say, try me? </p>
                            <a href="/positive.html" target="_blank" class="btn btn-info">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon-wrap px-4 pt-4">
                            <div
                                class="icon d-flex justify-content-center align-items-center bg-success rounded-circle">
                                <span class="ion-logo-ionic text-light"></span>
                            </div>
                        </div>
                        <div class="card-body pb-5 px-4">
                            <h5 class="card-title">Hospital beds</h5>
                            <p class="card-text">Get information about Hospital beds near you</p>
                            <a href="{% url "hospitalinfo" %}" class="btn btn-success">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon-wrap px-4 pt-4">
                            <div
                                class="icon d-flex justify-content-center align-items-center bg-warning rounded-circle">
                                <span class="ion-logo-ionic text-light"></span>
                            </div>
                        </div>
                        <div class="card-body pb-5 px-4">
                            <h5 class="card-title">Statistics</h5>
                            <p class="card-text">Statistics about deaths, symtoms, causes.</p>
                            <a href="#" class="btn btn-warning">Click here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







<footer class="footerflex">

      
    <div class="lp-element lp-pom-box" id="lp-pom-box-47">
         <div id="lp-pom-box-47-color-overlay">      
         </div>
    </div>
 
<div class="lp-element lp-code" id="lp-code-675"><!-- lp:insertions start div#lp-code-675 -->
        <p style="line-height: 24px;" id="footer1">
            <span style="font-family: Sailec-Regular; font-size: 18px; color: rgba(255,255,255,0.50);">Copyright © <script type="text/javascript">document.write(new Date().getFullYear());</script> CovidCare™ Inc.<br>Made with ❤️ by PBL Group-4.</span></p><!-- lp:insertions end div#lp-code-675 --></div>


 <div class="lp-element lp-pom-box" id="lp-pom-box-769"><div id="lp-pom-box-769-color-overlay"></div><div class="lp-element lp-pom-text nlh" id="lp-pom-text-770"><p style="line-height: 24px;"><a data-action="url" data-params="false" href="#" target="_blank"><span style="font-family: Sailec-Regular; font-size: 18px; color: rgba(255,255,255,0.50);">Legal</span></a></p></div><div class="lp-element lp-pom-text nlh" id="lp-pom-text-771"><p style="line-height: 24px;"><a data-action="url" data-params="false" href="#" target="_blank"><span style="font-family: Sailec-Regular; font-size: 18px; color: rgba(255,255,255,0.50);">Terms of Service</span></a></p></div><div class="lp-element lp-pom-text nlh" id="lp-pom-text-772"><p style="line-height: 24px;"><a data-action="url" data-params="false" href="#" target="_blank"><span style="font-family: Sailec-Regular; font-size: 18px; color: rgba(255,255,255,0.50);">Privacy Policy</span></a></p></div></div>


 <div class="lp-element lp-pom-block" id="lp-pom-block-17">
     <div id="lp-pom-block-17-color-overlay"></div>
        <div class="lp-pom-block-content">
         </div>
     </div>                   


</footer>
    

</body>
</html>
